.hidden { display: none }
.largeTitle {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  word-wrap: break-word;
}
body { background: url("../images/reentry_background.jpg") no-repeat; margin: 0; padding: 0 }

.contentBox { padding: 1.5em }

#pageBox { padding: 55px 25px; width: 1050px }

#waitListTitleBox { border: 1px solid darkgrey; background-color: #FDFDFD }
#docSeal { float: left; width: 120px; margin: 1% 0 1% 1% }
#waitListTitleText { float: left; text-align: center; width: 67%; margin-top: 3.5% }
#hssSeal { float: right; width: 120px; margin: 1% 1% 1% 0 }
#waitListTitleBox:after { content: ""; display: block; clear: both }

#waitListButtonsBox button { margin-right: 10px }

#waitListGridBox { margin-top: 10px }

#waitListFooterBox { margin-top: 10px; position: relative }
#waitListFooterBox button { display: block; margin: 0 auto }

#workloadButtonRow { margin: 0 0 1em 0 }
#workloadButtonRow button { display: block }
#dischargeFromWorkload { float: left }
#returnToWaitList {float: left; margin-left: 1em }
#cancelWorkload {float: right; margin-right: 1em }
#saveWorkload { float: right }
#workloadButtonRow:after { content: ""; display: block; float: none; clear: both }
#workloadGrid { background-color: red; border: 1px solid lightgoldenrodyellow; height: 550px; width: 902px }